#obj{
    background-color: darkgrey;
}
#aca{
    background-color: darkgrey;
}
.aaa{
    background-color: darkgrey;
}
#per{
    background-color: darkgray;
}
#dec{
    background-color: darkgrey;
}

